In [105]:
import os
import json
import base64
import pandas as pd
from users import get_user_id
from requests import post, get
from dotenv import load_dotenv
from validate import get_token, get_auth_header

In [106]:
token = get_token()

In [107]:
def search_for_artist(token, artist_name):
    url = 'https://api.spotify.com/v1/search'
    headers = get_auth_header(token)
    query = f'q={artist_name}&type=artist&limit=1'
    query_url = url + '?' + query

    result = get(query_url, headers=headers)
    json_result = json.loads(result.content)['artists']['items']
    return json_result

In [108]:
def search_playlist_items(token, playlist_id):
    url =f'https://api.spotify.com/v1/playlists/{playlist_id}/tracks'
    headers = get_auth_header(token)

    result = get(url, headers=headers)
    json_result = json.loads(result.content)['items']
    return json_result

In [109]:
data = search_playlist_items(token, '3xSSApwzRCMmROQJx47wpW')

In [122]:
# Função para converter milissegundos em minutos e segundos
def ms_to_min_sec(ms):
    minutes = int(ms // 60000)
    seconds = int((ms % 60000) // 1000)
    return f"{minutes}:{seconds:02}"

tracks = []
for item in data:
    track = {}
    track['name'] = item["track"]["name"]
    track['artist'] = item["track"]["artists"][0]["name"]
    track['album'] = item["track"]["album"]["name"]
    track['release_date'] = item["track"]["album"]["release_date"]
    track['duration_ms'] = item["track"]["duration_ms"]
    track['duration'] = ms_to_min_sec(item["track"]["duration_ms"])
    track['spotify_url'] = item["track"]["external_urls"]["spotify"]
    tracks.append(track)

In [111]:
data_df = pd.DataFrame(tracks)

In [118]:
data_df.head()

,name,artist,album,release_date,duration_ms,duration,spotify_url
0,Midnight Memories,One Direction,Midnight Memories (Deluxe),2013-11-25,176320,2:56,https://open.spotify.com/track/5wjmqUGN7vrAqFq...
1,Diana,One Direction,Midnight Memories (Deluxe),2013-11-25,184666,3:04,https://open.spotify.com/track/6twW4ma6w0mOeej...
2,Rock Me,One Direction,Take Me Home (Expanded Edition),2012-11-12,200266,3:20,https://open.spotify.com/track/4GF00uRxC4ECrxN...
3,Better Than Words,One Direction,Midnight Memories (Deluxe),2013-11-25,208666,3:28,https://open.spotify.com/track/4qG3Um3jXlQnaQV...
4,She's Not Afraid,One Direction,Take Me Home (Expanded Edition),2012-11-12,190560,3:10,https://open.spotify.com/track/3MN0pucJbbFmqgv...

In [123]:
ms_to_min_sec(data_df['duration_ms'].mean())

'3:26'

In [113]:
def get_playlist_names(token, user_id):
    url =f'https://api.spotify.com/v1/users/{user_id}/playlists'
    headers = get_auth_header(token)

    result = get(url, headers=headers)
    json_result = json.loads(result.content)['items']
    return json_result

In [114]:
playlists0 = []
for item in get_playlist_names(token, get_user_id()[0]):
    playlist0 = {}
    # playlist0['id'] = item['id']
    # playlist0['playlist_name'] = item['name']
    # playlist0['owner_name'] = item['owner']['display_name']
    # playlist0['get_url'] = item['tracks']['href']
    playlist0['total_songs'] = item['tracks']['total']
    playlists0.append(playlist0)

In [115]:
pd.DataFrame(playlists0)

    total_songs
0            32
1           127
2            28
3           195
4            30
5            46
6            58
7            51
8            41
9            39
10          124
11           65
12           36
13          109

In [116]:
playlists1 = []
for item in get_playlist_names(token, get_user_id()[1]):
    playlist1 = {}
    # playlist1['id'] = item['id']
    # playlist1['playlist_name'] = item['name']
    # playlist1['owner_name'] = item['owner']['display_name']
    # playlist1['get_url'] = item['tracks']['href']
    playlist1['total_songs'] = item['tracks']['total']
    playlists1.append(playlist1)

In [117]:
pd.DataFrame(playlists1)

    total_songs
0            74
1            11
2            53
3             1
4             1
5            27
6            47
7             4
8            24
9             9
10           13
11           18
12           58
13           72
14           18
15           22
16           15
17           10
18           13
19           18
20           21
21           78
22           23
23           20
24           51
25           77
26           41
27          157
28          100
29          141
30           86
31          122
32           46
33          103
34           26
35           97
36          254
37           62
38          230
39           43
40           47
41           78
42           21
43           27
44           11
45           16
46           13
47           20
48           12
49          100
50           14